.logo{padding:20px 0;text-align:center;}
.headers {padding:20px 0;text-align:center;}
.text{padding:20px 0;text-align:left;line-height:1.5;font-size:16px;}
.banners{padding:20px 0;}
.banners img{width:100%}